// src/App.module.scss
.app {
  background-color: #fff;
  height: 100%;
}

.container {
  padding: 20px;
}

.bookAllButton {
  display: block;
  margin: 30px 0;
  margin-left: auto;
  background-color: rgb(254, 44, 85);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.cardList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
