// src/App.module.scss
.app {
  background-color: #fff;
  height: 100%;
}

.container {
  padding: 20px;
}

.bookAllButton {
  display: block;
  margin: 10px 0 50px auto;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.cardList {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  flex-wrap: wrap;
}
