
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    scrollbar-width: none; /* 针对 Firefox */
    -ms-overflow-style: none; /* 针对 IE 和 Edge */
}

*::-webkit-scrollbar {
    display: none; /* 针对 WebKit 浏览器（如 Chrome, Safari） */
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #000000;
}


:root {
    --primary-color: rgb(254, 44, 85);
    --primary-color-80: rgba(254, 44, 85, 0.8);
    background: #000000;
}

.ant-layout .ant-layout-sider{
    padding: 0px 8px;
    flex: 0 0 72px;
    background: #fff;
}

.ant-menu-light.ant-menu-root.ant-menu-vertical{
    border: none;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeIn {
    /* animation-name: fadeIn; */
    /* animation: fadeIn .5s ease-in-out; */
}

.animate__fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}


.flex{
  display: flex;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.flex-1{
  flex: 1;
}


@keyframes fadeIn {
    from {
        opacity: .6;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,30px,0);
        transform: translate3d(0,30px,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}


@media screen and (max-width: 640px) {
    .mobile_none{
        display: none;
    }

    .login_page{

    }

    .login_page .ant-modal .ant-modal-content{
        background-color: #000 !important;
        box-shadow:none !important;
        height: 97vh;
    }

    .login_page .ant-modal{
        top: 0;
    }

    .login_page .ant-modal .ant-modal-close{
        color: #ffffff;
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
}


.empty_icon{
  width: 200px;
  margin: 0 auto;
}


.pay_wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pay-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border: 1px solid #FFFFFF90;
  border-radius: 10px;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
  width: 200px;
  transition: all .3s;
}
.pay-item:hover{
  background: #FFFFFF30;
}

.checked{
  border-color: #ff2c55;
  background:  #ff2c5520 !important;
}

.pay-item img{
  width: 35px;
  height: 35px;
  object-fit: contain;
}


.confirmButton {
  width: 130px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  transition: all .3s;
  font-weight: bold;
  font-size: 20px;
  height: 45px;
  &.cancelButton {
    background-color: #00000000;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

    &:hover {
      background-color: var(--primary-color);
      color: #ffffff;
    }
  }

  &.confirmButton {
    background-color: var(--primary-color) !important;
    &:hover {
      color: #ffffff !important;
      background-color: var(--primary-color-80) !important;
    }
  }
}


.order_confirm{
  display: flex;
  gap: 20px;
}


@media screen and  (max-width: 640px) {
  .order_confirm{
    flex-direction: column;
  }

  .pay-item{
    width: 150px;
  }
}


.font-bold{
  font-weight: bold;
}
